#Ignoring the build files
/build/
/CMakeFiles/
/CMakeCache.txt
/*.cmake
/*.o
/*.obj
/*.out
/*.exe
# VS Code Settings
.vscode/

# runtime outputs
/output/
build/output/
*.png

# Local test data
/data/*
!data/.gitkeep #keep folder and ignore the contents
